:root {
    /*Primary*/
    --very-dark-blue: hsl(233, 47%, 7%); /*main background*/
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /*card background*/
    --soft-violet: hsl(277, 64%, 61%); /*accent*/
    /*Neutral*/
    --white: hsl(0, 0%, 100%);/*main heading, stats*/
    --Slight-transparent-white1: hsla(0, 0%, 100%, 0.75);/*main paragraph*/
    --Slight-transparent-white2: hsla(0, 0%, 100%, 0.6);/*stat headings*/
}

body {
    font-size: 15px;
    background-color: var(--very-dark-blue);
    color: white;
    width: 99%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "c1 c2";   
    max-width: 1000px;
    overflow: auto;
    border-radius: 8px;    
}

@media (max-width: 800px) {
    #grid-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: 25% 75%;
        grid-template-areas: 
        "c2"
        "c1";
        max-width: 350px;
        min-height: 80vh;
        margin: 70px 30px 70px 30px;

    }
}

/*Grid1*/

#Grid1 {
    grid-area: c1;
    background-color: var(--Dark-desaturated-blue); 
    height: auto;
    padding: 40px 70px 10px 70px;
}

@media (max-width: 800px) {
    #Grid1 {
        padding: 30px;
        margin-top: 60px;
    }
}
h1 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
}

@media (max-width: 800px) {
    h1 {
        text-align: center;
        font-size: 1.5rem;
    }
}

#accent {
    color: var(--soft-violet);
}

#c1-paragraph {
    color: var(--Slight-transparent-white1);
    font-family: 'Inter', sans-serif;
    line-height: 1.3rem;
    font-size: 0.8rem;
    width: 85%;
    margin-top: 30px;
    height: 35%;
}

@media (max-width: 800px) {
    #c1-paragraph {
        text-align: center;
        width: 100%;
        font-size: 0.9rem;
        margin-top: 20px;
        line-height: 1.5rem;
        height: auto;
    }
}

/*Numbers and header bottom*/

#header-wrapper {
    display: flex;
    width: 100%;
}

@media (max-width: 800px) {
    #header-wrapper {
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
    }
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 800px) {
    .bottom-wrapper {
        align-items: center;
    }
}

.numbers {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.num-heading {
    margin: 0;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    color: var(--Slight-transparent-white2);
    font-size: 0.7rem;
}

/*Grid2*/

#Grid2 {
    grid-area: c2; 
    height:413px; 
}

@media (max-width: 800px) {
    #Grid2 {
        padding: 0;
        margin: 0;
        height:257.21px;
    }
}


img {
    max-width: 500px;
    filter: invert(10%) sepia(5%) saturate(4500%) hue-rotate(228deg) brightness(70%) contrast(90%);
}

@media (max-width: 800px) {
    img {
        width: 100%;
        height: auto;
        
    }
}






